<div class="hero">
    <p class="lead">Welcome</p>
    <small>Hi, I'm Dave Padovano, an independent software developer. I create interactive web & mobile experiences, in addition to engineering robust backend software; I am currently available for hire.</small>
</div>
<div class="left box">
    <p class="title">Tech and tools</p>
    <small>I have over 12 years of experience working in the digital space coming up with creative solutions to technical problems. The proof is in the pudding, take a look at some of the <a href="#history">recent work</a>.</small>
</div>
<div class="right box">
    <p class="title">What I bring to the table</p>
    <small>I'm able to hit the ground running, beginning production within a day or so. I can also provide training to staff in a variety of languages and development tools. If you'd like to inquire about working with me, feel free to <a href="#contact">drop me a line</a>.</small>
</div>