<div class="hero center">
    <p>Innovative engineering, captivating animations, proven leadership</p>
    <p>Below is a portion of my recent work. If you need a developer to assist in overcoming technical challenges, <a href="#">get in touch now</a>.</p>
</div>
<div class="picture">
    <img src="http://www.artofdev.com/work/photo/53003">
</div>
<div class="description">
    <h3>Samsung.com</h3>
    <p class="lead">Responsive Design</p>
    <p>Tasked with developing a new <a href="http://www.samsung.com/us" target="_blank">samsung.com</a> that could operate responsively on all devices and screens.</p>
    <ul>
        <li>Delivered an optimized code base that loads 70% faster</li>
        <li>Reduced overall page load by 60%</li>
        <li>Used Uglifyjs to compress JavaScript code-base and then gzipping on App Engine for highly optimized delivery</li>
        <li>Developed a Google App Engine backend for data sources</li>
        <li>Lead Developer on a team of 6 developers</li>
        <li>Site backward compatible to IE8 and all mobile devices</li>
    </ul>
</div>